{% extends 'base.html' %}
{% load static %}

{% block body_class %}
login-page
{% endblock body_class %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}

<div class="login-wrapper">

    <div class="login-card">

        <div class="login-header">

            <div class="login-logo">
                📘
            </div>

            <h2 class="login-title">
                Manual Portal
            </h2>

            <p class="login-subtitle">
                Login to continue
            </p>

        </div>

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">
                    Username
                </label>

                {{ form.username }}
            </div>

            <div class="mb-4">
                <label class="form-label">
                    Password
                </label>

                {{ form.password }}
            </div>

            <button
                type="submit"
                class="btn btn-primary login-btn">

                Login

            </button>

        </form>

    </div>

</div>

{% endblock %}