{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm border-danger">

    <div class="card-header bg-danger text-white">
        Delete Airbus Link
    </div>

    <div class="card-body">

        <p>정말 삭제하시겠습니까?</p>

        <p class="fw-bold">
            {{ link.manual_type }} / {{ link.title }}
        </p>

        <form method="post">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">
                Delete
            </button>

            <a href="{% url 'airbus_link_list' %}"
                class="btn btn-outline-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}