{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h3>
            {{ manual.aircraft.name }}
            -
            {{ manual.manual_type }}
        </h3>

        <hr>

        <p>
            {{ manual.description }}
        </p>

        <div class="d-flex gap-2">

            {% if manual.manual_type == "MEL" or manual.manual_type == "CDL" %}

                <a href="{{ manual.file.url }}"
                    target="_blank"
                    class="btn btn-primary">
                    Open PDF
                </a>

            {% endif %}

            <a href="{{ manual.file.url }}"
                download
                class="btn btn-success">
                Download
            </a>

            <a href="{% url 'aircraft_manual_detail' manual.aircraft.pk %}"
                class="btn btn-secondary">
                Back
            </a>

        </div>

    </div>

</div>

{% endblock %}