{% extends 'base.html' %}
{% load static %}

{% block body_class %}
detail-page manual-detail-page
{% endblock body_class %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/manual_detail.css' %}?v=55">
{% endblock css %}

{% block content %}

<div class="page-hero mb-4">
    <div>
        <p class="page-eyebrow mb-1">
            MANUAL FILE
        </p>

        <h2 class="page-title mb-2">
            {{ manual.aircraft.name }} - {{ manual.manual_type }}
        </h2>

        <p class="text-muted mb-0 page-subtitle">
            {{ manual.description|default:"Manual file detail" }}
        </p>
    </div>

    <div class="page-actions">
        <a href="{% url 'aircraft_manual_detail' manual.aircraft.pk %}"
            class="btn btn-outline-secondary app-action-btn mobile-show-btn">
            Back
        </a>
    </div>
</div>

<div class="card portal-card shadow-sm portal-detail-card">
    <div class="card-body">

        <div class="portal-detail-info mb-4">
            <div>
                <span>Aircraft</span>
                <strong>{{ manual.aircraft.name }}</strong>
            </div>

            <div>
                <span>Manual Type</span>
                <strong>{{ manual.manual_type }}</strong>
            </div>

            <div>
                <span>Description</span>
                <strong>{{ manual.description|default:"-" }}</strong>
            </div>
        </div>

        <div class="portal-detail-button-group">

            {% if manual.manual_type == "MEL" or manual.manual_type == "CDL" or manual.manual_type == "OTHER" %}
                <a href="{% url 'manual_file_pdf_viewer' manual.pk %}?back={{ request.get_full_path|urlencode }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-primary app-card-btn mobile-show-btn">
                    Open PDF
                </a>
            {% endif %}

            <a href="{{ manual.file.url }}"
                download
                class="btn btn-success app-card-btn mobile-show-btn">
                Download
            </a>

        </div>

    </div>
</div>

{% endblock content %}
